# Ambiente virtual
.venv/
venv/

# Arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variáveis secretas
.env

# Bancos locais
*.db
*.sqlite
*.sqlite3

# Editor
.vscode/
.idea/

# Sistema operacional
Thumbs.db
.DS_Store

# Logs
*.log# Ambiente virtual
.venv/
venv/

# Arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variáveis secretas
.env

# Bancos locais
*.db
*.sqlite
*.sqlite3

# Editor
.vscode/
.idea/

# Sistema operacional
Thumbs.db
.DS_Store

# Logs
*.log